.coloracaoNavbar{
    background-color:#6b0504;
}

.typographyConf{
    color: #DFDFDF !important;
}

.buttonPadding{
    padding-right: 20px;
}

.buttonColorNavbar {
    color: #DFDFDF !important;
}

.texteDecoration{
    text-decoration: none !important;
}