.coloracaoLogin {
    background-color: #6b0504;
}

.typographyLogin{
    color: #DFDFDF;
}

.cadastreseConf{
    text-decoration: none !important;
    color: black;
}

.buttonColor {
    color: #DFDFDF;
}

